<div>
  <h2>{{title}}</h2>
  <div id="products-container" class="products-container">
    {{#with products}}
    {{#each payload}}
    {{#with this}}
    <article class="product-card">
      <div class="img-container">
        <img src={{photo}} alt="Imagen del producto" class="card-image">
      </div>
      <div class="product-info">
        <h3>{{title}}</h3>
        <p>Precio: ${{price}}<br>
          Stock: {{stock}}<br>
        </p>
        <a href="/products/{{_id}}" class="btn-card btn-card-view">Ver más detalles</a>
        <button id="{{_id}}" name="addToCart" class="btn-card btn-card-add">Agregar al carrito</button>
      </div>
    </article>
    {{/with}}
    {{/each}}
  </div>
  <div class="paginate-container">
    <div class="paginate">
      {{#if hasPrevPage}}
      <a href="{{prevLink}}" class="btn-paginate">Anterior</a>
      {{else}}
      <button class="btn-paginate" disabled>Anterior</button>
      {{/if}}

      <span>Página {{page}} de {{totalPages}}</span>

      {{#if hasNextPage}}
      <a href={{nextLink}} class="btn-paginate">Siguiente</a>
      {{else}}
      <button class="btn-paginate" disabled>Siguiente</button>
      {{/if}}
    </div>
    {{/with}}
  </div>
</div>
<script src="/js/home.js"></script>