<div>
    <h2>{{title}}</h2>
    <div class="container-product-detail">
        {{#if status}}
        <h3>{{product.title}}</h3>
        <img src="{{product.photo}}" alt="Imagen del producto" class="card-img-details" />
        <div class="item-count-container">
            <div>
                <span class="item-price">${{product.price}}</span>
            </div>
            {{#if stock}}
            <span>Stock: {{product.stock}}</span>
            <button id="{{product._id}}" name="addToCart" class="btn-add-to-cart">Agregar al carrito</button>
            {{else}}
            <span class="without-stock">Sin stock!</span>
            {{/if}}
        </div>
        {{else}}
        <h3>Error al cargar los detalles del producto.</h3>
        {{/if}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/viewProduct.js"></script>