<header class="container-fluid">
        <nav class="navbar navbar-expand-md">
            <div class="container-lg">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li id="goToCart" class="nav-item">
                            
                        </li>
                        <li class="nav-item">
                            <a id="btnLogOut" class="nav-link">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div>
    <h2>{{title}}</h2>
    <div id="cartContainer" class="cart-container">
        {{#if status}}
        {{#each cart}}
        {{#with this}}
        <div class="card-row">
            <div class="counter-container">
                <span>{{quantity}} x</span>
            </div>
            <div class="img-container-row">
                <img src={{productId.thumbnail}} alt="Imagen del producto" class="card-img-row" />
            </div>
            <div class="title-container-row">
                <span>{{productId.title}}</span>
            </div>
            <div class="subtotal-row-container">
                <span>{{productId.price}}</span>
            </div>
            <div class="btn-delete-row">
                <button id="{{productId._id}}" name="deleteFromCart" class="btn btn-delete">
                    <span>❌</span>
                </button>
            </div>
        </div>
        {{/with}}
        {{/each }}
        {{else}}
            <span>El carrito está vacío.</span>
        {{/if}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/viewCart.js"></script>